.header {
  display: flex;
  width: 100vw;
  background-color: purple;
  color: white;
  align-items: center;
}

.header .title-group {
  display: flex;
  cursor: pointer;
  align-items: center;
}

.header .title-group i {
  padding-right: 15px;
}
